<nav class="navbar navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-center">
        <h1>{{ title }}</h1>
    </div>
</nav>
<br/>

<div class="container d-flex justify-content-center">

<div class="card bg-light" style="width:20rem">
    <div class="card-body">
        <form >

            Numero 1: <input type="number" [(ngModel)]="numero1" name="numero1"><br/><br/>
            
            Numero 2: <input type="number" [(ngModel)]="numero2" name="numero2"/><br/><br/>
        
            <div class="btn-toolbar justify-content-between">
                <div class="btn me-2">
                    <input type="submit" value="Sumar" (click)="sumar()" class="btn btn-primary">
                </div>
                <div class="btn me-2">
                    <input type="submit" value="Restar" (click)="restar()" class="btn btn-danger">
                </div>    
            </div>
            
            
            </form>
            <p>Resultado: {{ resultado }}</p>
            
    </div>
</div>
</div>